body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login-page {
  display: none;
}

#chose {
  display: none;
}

#chose .btn-block {
  margin: 30px 0 ;
}

#pick-me {
  //display: none;
}

#map-canvas {
  height: 400px;
  margin: 30px 0;
  width: 100%;
}