<div class="page-header">
  <h1>I'm driving to</h1>
</div>
<form class="form-inline search-place" role="form">
  <div class="input-group">
    <input type="text" class="form-control search-place-text">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
  </div>
</form>
<div class="map-canvas"></div>

<div style="display: none">
  <div id="first" class="passenger-card" style="width: 150px;">
    <img src="img/Anton_Tomchenko.gif" style="width: 30px; height: 40px; float: left; margin-right: 5px"> Anton Tomchenko<br/>
    <button type="button" class="btn btn-success btn-xs">Pick him</button>
    <button type="button" class="btn btn-danger btn-xs">Dismiss</button>
  </div>
  <div id="second" class="passenger-card" style="width: 150px;">
    <img src="img/Yury_Trushkov.gif" style="width: 30px; height: 40px; float: left; margin-right: 5px"> Yury Trushkov<br/>
    <button type="button" class="btn btn-success btn-xs">Pick him</button>
    <button type="button" class="btn btn-danger btn-xs">Dismiss</button>
  </div>
</div>
