<div class="page-header">
  <h1>I need to go?</h1>
</div>

<form class="form-inline" role="form" ng-submit="go()">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="destination">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
  </div>
</form>

<div class="map-canvas"></div>

<form class="form-inline" role="form" ng-submit="wait()">
  <div class="input-group">
    <select class="form-control" ng-model="wt">
      <option>5 min</option>
      <option>10 min</option>
      <option>15 min</option>
      <option>30 min</option>
      <option>1 hour</option>
    </select>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Wait for drivers</button>
      </span>
  </div>
</form>

<div class="modal fade" id="wait-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Waiting for drivers</h4>
      </div>
      <div class="modal-body">
        <p>Please wait&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
